<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% 
        if method.querytype.downcase == 'get'
            panel_type = 'panel-success'
        elsif method.querytype.downcase == 'put'
            panel_type = 'panel-warning'
        else
            panel_type = 'panel-info'
        end

        time = Time.now.to_f.to_s.gsub(".", "")
    %>
    <div class="panel <%= panel_type %>">
        <div class="panel-heading" role="tab" id="heading_<%= time %>">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= time %>" aria-expanded="true" aria-controls="collapse_<%= time %>">
                    <strong><%= h method.querytype.upcase %></strong> <%= h method.header %>
                </a>
            </h4>
        </div>
        <div id="collapse_<%= time %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_<%= time %>">
            <div class="panel-body">
                <h4>Summary</h4>
                <p><%= h method.summary %></p>

                <h4>Description</h4>
                <p><%= h method.description %></p>

                <h4>Parameters</h4>
                <table class="table">
                    <thead><tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Required</th>
                        <th>Type</th>
                    </tr></thead>
                    <tbody>
                        <% for item in method.parameters %>
                        <tr>
                            <td><%= h item['name'] %></td>
                            <td><%= h item['description'] %></td>
                            <td><%= h item['required'] %></td>
                            <td><pre><%= h item['type'] %></pre></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>